.categories-container {
  text-align: center;
  margin: 20px;
}
  
.categories-container h2 {
  font-size: 24px;
  color: #3b873e;
  margin-top: 40px;
  margin-bottom: 20px;
}
  
.categories-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
  align-items: center;
  padding: 10px;
  margin: 0 auto;
  width: 80%; 
}
  
.category-card {
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 250px;
  height: 250px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  
.category-card:hover {
  cursor: pointer;
  background-color: #f4f4f4;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
  
.category-image {
  width: 100px;
  height: 100px;
  margin-bottom: 15px;
  object-fit: cover;
  border-radius: 50%;
}
  
.category-name {
  font-size: 18px;
  color: #333;
  line-height: 1.4;
}
  
@media (max-width: 768px) {
  .categories-grid {
    grid-template-columns: repeat(2, 1fr); 
  }
}
  
@media (max-width: 480px) {
  .categories-grid {
    grid-template-columns: repeat(1, 1fr); 
  }
} 